{% extends 'Doctor/base.html' %}

{% block content %}

{% load static %}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span
          class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
          class="icon-bar"></span></button><a class="navbar-brand" href="{% url 'home' %}">{{ user.username }}</a>
    </div>
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home">Home</a></li>
        <li><a href="/Provider/additem">Add Order</a></li>
        <li><a href="/Provider/displaystock">Order Details</a></li>
        <li><a href="/Provider/addstaff">Add Staff</a></li>
        <li><a href="/Provider/displaystaff">Staff Details</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="#" onclick="$('#signOutBtn').click()" class="nav-link">Logout</a>
          <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
            {% csrf_token %}
            <button id="signOutBtn" type="submit">Logout</button>
          </form>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>

<div class="main">
  <section class="module bg-dark-30" data-background="{% static 'assets/images/pharmacy_title.jpg' %}" id="home">
    <div class="titan-caption">
      <div class="caption-content">

        <div class="font-alt mb-40 titan-title-size-4">Pharmacy Adda </div>

      </div>
    </div>
  </section>
</div>

<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
        <h4 class="font-alt">Order</h4>
        <hr class="divider-w mb-10">
        <h2>{{ error2 }}</h2>
        <form class="form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group">
            <label for="csv_file">Upload File</label>
            <input class="form-control" type="file" id="csv_file" name="csv_file">
          </div>


          <div class="form-group">
            <button class="btn btn-block btn-round btn-b" type="submit">Submit Order</button>
          </div>

        </form>

      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div style="margin-bottom: 500px;"></div>

  {% endblock %}