{% extends 'Doctor/base.html' %}

{% block content %}

{% load static%}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span
          class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
          class="icon-bar"></span></button><a class="navbar-brand" href="{% url 'home' %}">{{ user.username }}</a>
    </div>
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="#" onclick="$('#signOutBtn').click()" class="nav-link">Logout</a>
          <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
            {% csrf_token %}
            <button id="signOutBtn" type="submit">Logout</button>
          </form>
        </li>
        {% endif %}




      </ul>
    </div>
  </div>
</nav>


<div class="main">
  <section class="module bg-dark-30" data-background="{% static 'assets/images/pharmacy_title.jpg' %}" id="home">
    <div class="titan-caption">
      <div class="caption-content">
        <div class="font-alt mb-30 titan-title-size-1">Hello &amp; Welcome To</div>
        <div class="font-alt mb-40 titan-title-size-4">Pharmacy Adda </div>

      </div>
    </div>
  </section>
  <section class="module">
    <div class="container">
      <div class="row">

        <div class="col-sm-5">
          <h4 class="font-alt">Register</h4>
          <hr class="divider-w mb-10">
          <h2>{{ error }}</h2>
          <form class="form" method="POST">
            {% csrf_token %}

            <div class="form-group">
              <input class="form-control" id="id_email" type="text" name="email" placeholder="Email" />
            </div>
            <div class="form-group">
              <input class="form-control" id="username" type="text" name="username" placeholder="Username" />
            </div>
            <div class="form-group">
              <input class="form-control" id="password1" type="password" name="password1" placeholder="Password" />
            </div>
            <div class="form-group">
              <input class="form-control" id="id_password2" type="password" name="password2"
                placeholder="Re-enter Password" />
            </div>
            Password : Minimum 8 characters include special symbol, numbers and alphabets
            <div clss="form-group">
              <div class="input-group">
                <div class="input-group-addon"><b> Role </b></div>
                <select class="form-control input-lg" id="role" name="role" type="text" required="required">
                  <option selected="Select Role">Select Role</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Provider">Provider</option>
                  <option value="Patitent">Patient</option>

                </select>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-block btn-round btn-b" type="submit">Register</button>
            </div>

        </div>
      </div>
    </div>


    {%  endblock %}